@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.tabs-section{
    background-color: rgb(96, 173, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.tabs-container{
    background-color: #f0f8ff;
    max-width: 60vw;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tabs-nav{
    display: flex;
    gap: 6px;
}

.tab-btn{
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0 0;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active{
    background-color: rgb(80, 173, 18);
}

.tab-btn:hover{
    background-color: rgb(18, 173, 23);
}

.content{
    display: none;
}

.content.show{
    display: flex;
    gap: 14px;
    background-color: rgb(80, 173, 18);
    border-radius: 0 0 8px 8px;
    padding: 16px;
}

.content-img{
    max-width: 50%;
    max-height: 25vh;
}

@media (max-width: 950px){
    .content-img{     
        max-height: 40vh;
    }

}

@media (max-width: 765px){
    .tabs-nav {
        overflow-x: scroll;
        gap: 14px;
        scrollbar-width: none;
    }

    .content-img{     
        max-height: 50vh;
    }
}

@media (max-width: 517px){
    .tabs-nav {
        overflow-x: scroll;
        gap: 14px;
        scrollbar-width: none;
    }

    .content.show {
        display: flex;
        gap: 14px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
    }

    .content-img{   
        max-width: 35vw;  
        max-height: 50vh;
    }
}

@media (max-width: 360px){
    .tabs-nav {
        gap: 5px;
    }

    .content-description{
        font-size: 12px;
        line-height: 18px;
    }

}
		